body {
    font-family: "Spoqa Han Sans Neo", "Pretendard Variable", "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

/* Main css*/

.Main-Logo {
    width: 16.25rem; 
    cursor: pointer;
    margin-right: 10vh; 
}

.Main-div {
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
}

.Main-Title span:nth-child(1) { color: #E9A5A5; opacity: 0.6; }
.Main-Title span:nth-child(2) { color: #E9D4A6; opacity: 0.65; }
.Main-Title span:nth-child(3) { color: #A5DCC8; opacity: 0.7; }
.Main-Title span:nth-child(4) { color: #B5D9F4; opacity: 0.75; }
.Main-Title span:nth-child(5) { color: #F4B5E0; opacity: 1; }
.Main-Title span:nth-child(6) { color: #C5AAD9; opacity: 1; }

.Main-Title {
    font-size: 4.375rem; 
}

.Login-Btn {
    background-color: transparent;
    border: 0.125rem solid #ffffff; 
    cursor: pointer;
    height: 3.825rem; 
    font-size: 1.5rem; 
    border-radius: 0.5rem; 
    padding: 0 1.8rem; 
    transition: all 0.3s ease;
    border : 0.125rem solid #A5DCC8;

    animation: rainbow-border 8s linear infinite;
}

@keyframes rainbow-border {
    0% { border-color: #f5313f; }     /* 빨강 */
    16% { border-color: #f2b24b; }    /* 주황 */
    32% { border-color: #f5d547; }    /* 노랑 */
    48% { border-color: #53c3c0; }    /* 초록 */
    64% { border-color: #0b71cf; }    /* 파랑 */
    80% { border-color: #9d5fc7; }    /* 보라 */
    100% { border-color: #f54d7a; }   /* 분홍 */
}

.Login-Btn span:nth-child(1) { 
    color: #f5313f; 
    opacity: 0.6; 
    font-weight: 1000; 
}

.Login-Btn span:nth-child(2) { 
    color: #0b71cf; 
    opacity: 0.65; 
    font-weight: 1000; 
}

.Login-Btn:hover {  
    box-shadow: 0 0.5rem 0.625rem rgba(0, 0, 0, 0.1); 
    transform: translateY(-0.125rem); 
}

.Login-Btn:active {
    transform: translateY(-0.375rem); 
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); 
}

.M {
    background: linear-gradient(to right, #f2b24b 30%, #53c3c0 45%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 1000; 
  }


/* section css */

.Introduction {

}